body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  width: 75vw;
  margin: 0 auto;
  background-color: #333;
  border-radius: 15px;
  overflow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-align: center;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s, border-radius 0.2s;
}

a:hover {
  background-color: #555;
  border-radius: 20px;
}
h1 {
  text-align: center;
  color: darkolivegreen;
}
.opening-paragraph{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
img{
  border-radius: 50%;
}

/* Media query for ()